<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ .Site.Params.description }}">
    <meta name="author" content="{{ .Site.Params.author }}">
    <title>{{ .Site.Title }}</title>
    <link rel="stylesheet" href="css/style.css">
    {{ block "head" . }}{{ end }}
</head>
<body class="page">
    <hr>
    {{ block "header" . }}{{ end }}
    <main role="main">
      {{ block "main" . }}{{ end }}
    </main>
    <hr>
    {{ block "footer" . }}{{ end }}
</html>
